<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <script src="/cdn/model/groupMembers.js" ></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="shortcut icon" type="image/png" href="img/icon2.png" />

  <title> Group Members </title>
  <h4> Members of this group are: </h4>
  <h4> To remove a user, click on them. </h4>


</head>

<body>
  <ul id="members">
  </ul>
</body>

</html>