<!DOCTYPE html>
<html>

<head>
    <title>Group Chat Home Page</title>
    <meta charset="utf-8"/>


    <script> 

    </script>

</head>

<style> 

</style>

<body >

    <form action="" method = "get">
        <button>Group description </button>
    </form> 

    <form action="" method = "get">
        <button>See members </button>
    </form> 

    <form action="" method = "get">
        <button>Add members </button>
    </form>

    <form action="" method = "get">
        <button>Create hiking invitation </button>
    </form>

</body>


</html>