<!DOCTYPE html>
<html>


<title> Group Search </title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
  <link href="/cdn/resources/covidQuestions.css" rel="stylesheet" />
  <script src="/cdn/view_model/searchGroup.js" ></script>
  
</head>

<body>

  <div class="navbar">
    <a href='/myGroups'><i class="fa fa-fw fa-group"></i> Your Groups</a> 
    <a href='/group/create-group'><i class="fa fa-fw fa-plus"></i> Create Group</a> 
    <a href='/group/search-group'><i class="fa fa-fw fa-search"></i> Search Groups</a> 
    <a href='/invitations/'><i class="fa fa-fw fa-envelope"></i> Invitations</a> 
    <a href='/covid-questions/'><i class="fa fa-fw fa-stethoscope"></i> COVID-19 Screening</a> 
    <a href='/activities/'><i class="fa fa-fw fa-list"></i> Activity Log</a> 
  </div>

  <h>   </h>
  <p>   </p>
  
<input type="text" id="search-text" placeholder="Search ..." value="" minlength="3" maxlength="20" pattern="[a-zA-Z'-'\s]*" onkeyup="searchFunction()"> <label for="type"> Search by :</label>

    <select name="studentAttributes" id="options">
        <option value="groupName"> Group Name </option>
        <option value="groupLocation">Group Location</option>
    </select>

    <div class="footer">
      <form id = "log_Out" name='logout' action="/logout" method="get">
        <input type="submit" id="log_Out" value="Logout" >
      </form>
    </div>
  
</body>

</html>
